.container.code-sale {
  margin-top: 20px;
}
.content-form {
  position: relative;
}

.content-form .description {
  padding-top: 30px;
  position: absolute;
  top: 8px;
  left: 35px;
}

.content-form .description h4 {
  padding-bottom: 10px;
}

.content-form .description p {
  padding-bottom: 10px;
}

.content-form .description input {
  width: 450px;
  height: 50px;
  margin-right: 20px;
  border: none;
}

.content-form .description button {
  background: #000;
  height: 50px;
  width: 110px;
  color: #fff;
}

img{
  width: 1108px;
  height: 276.41px;
}
